.generic-food{
  width: 300px;
}

.close-modal{
  width: 150px;
  height: 30px;
  margin-left: -2px;
  // background-color: #477987; /* Green */
  background-color: pink;
  border: none;
  color: white;
  font-weight: bold;
  // padding: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 10px;
}
.form-submit{
  width: 150px;
  height: 30px;
  margin-left: -2px;
  // background-color: #477987; /* Green */
  background-color: lightblue;
  border: none;
  color: white;
  font-weight: bold;
  // padding: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.custom-item-delete{

  width: 150px;
  height: 30px;
  margin-left: -2px;
  // background-color: #477987; /* Green */
  background-color: #477987;
  border: none;
  color: white;
  font-weight: bold;
  // padding: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border: 1px solid #477987;
  margin-bottom: 10px;
}

.custom-recipe-show{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-recipe-show div{
  margin: 30px;
}



.ingredients-bundle{
  display:flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.directions-bundle{
  display:flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;

}


.custom-index{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  // border: 1px solid black;
  margin-right: 30px;
}

.custom-item{
  margin: 20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  // padding: 30px;
}

.custom-item:hover{
  background-color: lightgray;
    // box-shadow: 0px 0px 5px 5px #888888
}

.custom-item a{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color:black;
}

.custom-item-description{
  font-style: italic;
  color: gray;
  margin: 15px;
}


.modal-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  align-self: center;
  width: 50%;
  position: fixed;
  top:10%;
  left:23.5%;
  padding: 20px;
  outline:none;
};



.recipe-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form textarea{
  margin: 30px;
  height:50px;
  width: 300px;
}

form input{
  margin: 20px;
  width: 300px;


}
