.custom-recipe-show{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-recipe-show div{
  margin: 30px;
}

.ingredients-bundle{
  display:flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.directions-bundle{
  display:flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;

}

.custom-index{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.custom-item{
  margin: 20px;
}

.modal-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  align-self: center;
  width: 50%;
  position: fixed;
  top:10%;
  left:25%;
};



.recipe-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form textarea{

  margin: 30px;
  height:100px;
  width: 300px;
}

form input{
  margin: 20px;
  width: 300px;


}
