
.nav-bar{
  display: flex;
  border-bottom:solid 1px;
  justify-content: space-around;
  background-color: #2dbe60;
  color: white;
}

.left-nav div {
  display: flex;
  padding: 10px;

  // border: solid 1px;

}
.left-nav a{
  display: flex;
  padding: 10px;
}

.right-nav div{
  display: flex;
    padding: 10px;
  // border: solid 1px;

}
