
.nav-bar{
  display: flex;
  border-bottom:solid 1px;
  justify-content: space-around;
  align-items: center;
  background-color:white ;
  color: #477987;
  height: 80px;
}

.left-nav div {
  display: flex;
  padding: 10px;

  // border: solid 1px;

}
.left-nav a{
  display: flex;
  align-items:  center;
  padding-bottom: 25px;
  padding: 20px;
  color: #477987;
  // color:white;
  text-decoration: none;
}

.right-nav div{
  display: flex;
  align-items: center;
    padding: 17px;
  // border: solid 1px;

}
.right-nav a{
  padding: 17px;
  text-decoration: none;
}
.logo{
  width:95px;
  height:40px;
}
