
.nav-bar{
  display: flex;
  border-bottom:solid 1px;
  justify-content: space-around;
  align-items: center;
  background-color:white ;
  color: #477987;
  height: 80px;
  // width: 100%;
}

.left-nav div {
  display: flex;
  padding: 10px;
  // display: flex;
  flex-direction: row;

  // border: solid 1px;

}

.left-nav{
  display: flex;
  padding: 10px;
  // display: flex;
  flex-direction: row;
  color: #477987;


}
.left-nav a{
  display: flex;
  flex-direction: row;
  align-items:  center;
  padding-bottom: 25px;
  padding: 20px;
  color: #477987;
  // color:white;
  text-decoration: none;
}

.right-nav div{
  display: flex;
  align-items: center;
    padding: 17px;
    color: #477987;

  // border: solid 1px;

}
.right-nav a{
  padding: 17px;
  text-decoration: none;
  color: #477987;

}
.logo{
  height:70px;
  margin-top: -10px;
}
