// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.recipe-image{
  width: 100%;
  height: 286px;
}

.recipe-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid #C0C0C0;
  // border: 0.5px solid #477987;
  width: 300px;
  height: 400px;
  margin: 30px;
  background-color: #F5F5F5;
}

.recipe-item:hover{
  background-color: lightgray;
  // bos-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10)
  // box-shadow: 0px 0px 5px 5px #888888
}

.recipe-item a{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-index{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.my-recipe-index{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.recipe-title{
  font-weight: bold;
  margin:3px;
}

.recipe-description{
  color: gray;
  font-style: italic;
}

.favorite{


width: 150px;
height: 30px;
margin-left: -2px;
// background-color: #477987; /* Green */
background-color: white;
border: none;
color: #477987;
font-weight: bold;
// padding: 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 12px;
border: 1px solid #477987;
}

.un-favorite{
  width: 150px;
  height: 30px;
  margin-left: -2px;
  // background-color: #477987; /* Green */
  background-color: #477987;
  border: none;
  color: white;
  font-weight: bold;
  // padding: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border: 1px solid #477987;
}

.index-headline{
  color: black;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.recipe-items-list{
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: center;
  flex-wrap:wrap;
  // border: 1px solid black;
  padding-right: 37px;
}

.recipe-show-tag{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.step-by-step{
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;

}

.instructions{
  font-size: 32px;
  font-weight: bold;

}

a:hover{
  text-decoration: none;
}

.favorite-item{

    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid #C0C0C0;
    border: 1px solid #477987;
    width: 300px;
    height: 350px;
    margin: 30px;
}

.favorite-item:hover{
  background-color: lightgray;
  // box-shadow: 0px 0px 5px 5px #888888
}

button:hover {
  cursor:pointer;
}
