.item-picture{
  width: 500px;
  height: 350px;
}

.item-title{
  width: 500px;

}

.item-description{
  width: 500px;
  border-top: 1px solid lightgray;
  padding-top: 20px;

}

.recipe-items{
  padding: 30px;
}
