.splash-image{
  width:100%
}

.splash-container {
    position: relative;
    text-align: center;
    color: white;
}
.splash-text {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 37px;
    font-weight: bold;
}
.green-apron{
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-size: 50px;
  color: #484848;
}

.splash-barrier{
  height:35px;
  color:gray;
  display: flex;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: -10px;
  font-weight: bold;

}

.second-splash{
  width: 60%;

}

.second-splash-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.testimonials{
  font-style: italic;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 70px;
}

.testimony1{
  width: 17%;
  display: flex;
  margin-right: 25px;
  padding-right:55px;
  font-size: 20px;
  border-right: 1px solid black;
}
.testimony2{
  margin-left: 35px;
  width: 16%;
  font-size: 20px;
}
