// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-form,
.login-form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.alt-signup,
.alt-login{
  text-decoration: none;
}
